.cart-container{
    position: fixed;
    padding: .25rem;
    background-color: aquamarine;
    right: 0;
    top: 0;
    height: 100%;
    width: 40%;
}

.cart-item-container{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.close-cart-btn{
    position: absolute;
    right: .25rem;
    top: .50rem;
    border: none;
    background-color: transparent;
}

h2{
    text-align: center;
    margin-top: 1rem;
    font-size: 1.5rem;
}

.total{
    margin-top: 1rem;
    text-align: end;
    font-size: 1.5rem;
    font-weight: 500;
}