article {
  display: flex;
  gap: 0.25rem;
  position: relative;
}

img {
  aspect-ratio: 16/9;
  width: 40%;
  object-fit: cover;
}

button {
  position: absolute;
  right: 0;
  color: red;
  background-color: transparent;
  border: none;
}

.cart-item-info-container {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.cart-item-name {
  font-size: 1rem;
  font-weight: 600;
}
